osx_image: xcode8.3
sudo: required
dist: trusty
language: c
matrix:
  include:
  - os: osx
  - os: linux
    env: CC=clang CXX=clang++ npm_config_clang=1
    compiler: clang
cache:
  directories:
  - node_modules
  - "$HOME/.electron"
  - "$HOME/.cache"
addons:
  apt:
    packages:
    - libgnome-keyring-dev
    - icnsutils
before_install:
- mkdir -p /tmp/git-lfs && curl -L https://github.com/github/git-lfs/releases/download/v1.2.1/git-lfs-$([
  "$TRAVIS_OS_NAME" == "linux" ] && echo "linux" || echo "darwin")-amd64-1.2.1.tar.gz
  | tar -xz -C /tmp/git-lfs --strip-components 1 && /tmp/git-lfs/git-lfs pull
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install --no-install-recommends
  -y icnsutils graphicsmagick xz-utils; fi
install:
- nvm install 6
- curl -o- -L https://yarnpkg.com/install.sh | bash
- source ~/.bashrc
- npm install -g xvfb-maybe
- yarn
script:
- yarn run build
branches:
  only:
  - master
notifications:
  pushover:
    api_key:
      secure: ciR9gEg9nOPASlisMc3RALzMnFHMIRvxA2imGMfN0OEmKl+fKZVH+2CJlg3boDU4kpBkF2fUfdLAoR+3vqR/ARB8QDkwSzBM/HUivMrIb+nMJpeny2Lz7Rt90J1WByiTL0stK9NR4t6gUoUFCP65y/I937nLTErEP3qyhD+uHH6u7J4nGD6e9bCnYL55JZ/e7YfoBs8oG3H+imwO0qsPoI1RsQzexd605YiYZ+8a5z5h3Kq7g27Gv199GPO7RZ3JhgS5xNNvoWWgurXqPUaP2T3HrCuahkKokUfG5007+Gb481CHfGKpKnlrc0HM66vkYufHDG/dxCGtvH2IcrUbNwjlku5PlW8aadvRVWNQCe902BsHEi1AYt4wjHSY12106gmlcLIrgzqGWx1RInAgzOkboF8qwfgAEk+lBzmwwrHHak9YcfDqZDzERCnUTky1o8ZtjgYGWdweliAadc36UW03Wqm7mwZ7m6G7KG+iq0ecOCaSDN4+5MBSe8mJ3xm1Sz11q+zqWTsI6qcD9W9Uxlzyj9DTWXjc64WtOtp38fSYNbUiYP7F2HbDTac5YaQaPrsSl7qHkszuNbTIr4OCR+IkvweywIxw11eWdfPUZnQIe+PImtN7rAoBU+OFl3vMmU6M1go0x1EEaULOJIy16SSVTOLGbsT+ISwBz9+6Yf0=
    template: "%{repository_slug} (%{commit}) : %{message} %{foo} - Build details:
      %{build_url}"
    users:
      secure: ADDQc6aljYzuSPzWFVj7U+o52lMQxJXj739fsstWtWCVgNyBrBwABf44kmzR3dHGef87GDN/sRxOP1RLe1DbrZlV6HfBjxLvNG4QXgrtr+BspS0pnK7CU5RQPwaqeymtqzDhZ5F8CpdOp3NXqFKYnj27jjNk9Ema893/4q8/o9Q3QklEG3RJ9IlZxPUkICXQnLO6DFU8ulAzR8aNDGQiAr1OLtA8rRBJkQFxMxdwTUz3PP3YbsGmqx11CIlas4FnOUBSoVY8oqNSy/XqPjabvMQT0rkJJOUtMCxAJ6LCKUdjNWSc8Jr4wY8lEpTM30yVMA7YMGVMf7e3Tkm45PsBdJtwgj6LLOCxxIDN68gc6R94oK4oX/GXK/VYxEBLcBip77j0kUlqLNBG0mXBQS/YcOGr8/pMXTJwvOMfTh7Wg364ehX/O/9Kd1pVvOMdRfImLVB7BG/5/uSZTzFoOSJs7Hc9Y18im+3rBqp52EMsM8gD7dbkdTkDRoYn5JXXmClqvr3gfWA7MkTAyYIyVxf3ADcNuVUkz6VZUYFW8/gjRB+m6NOxzPAj+86EmMllXPGMs6zcfNNjIg3asy7xw9sLa5GcKowGT1uwkLY8daTUK6Jw4nH8dXs6HTLtGS/0qhXZPqEFCaSA1dFX3dWBpRONA0brzVKJP0zdhDExzK4r0Sc=
deploy:
  skip_cleanup: true
  file_glob: true
  provider: releases
  api_key:
    secure: n70mkgkRX6zn3hyD/Ux4qrUsXUX1qzXj5OomtSPQ9awffD8GwKl3YfITPKr7k9bTdMn3NKqGAvyUuXW2iajlNObmORBCf6dwiEZ+uoBBbK2X8pMTgiGg2dA9eDKr4qTa25HJtSPD3AmABTJ3MQV77tCEciAAHYwbciH3Y8RhbJ3MsWfqGvcbwt/M9HST75caPuGhip1UDkDrpqATa9fHTpFBuP6WMpdSzKM2S/BCM+XKZ9Rxg8Es5TIEoAH8wcr745ZYzIg7eY9vyHTT4XBmM8wJChsdr/Uxnxrka81W7XoyhT4t7M4QykorMbJ2TOI6K0QCNrGVA9YMLRIao7gREoYacQvnnKPeR6l75XDR3WHRNxq647Bu7cyEKP5o8Gje4vIUuUVRgG8D6EfGhZzFBqO5jKNpr4O3Xgn8M6nJtSnZfFz70o7gjRb99rwMiPlWXbCnc2mbayifh6vJRaSyJrQ4EU614P/3i2dEs48t3duJdQtLycn5FPaGGPDZDfXl9vsXZcVStcD4/0TKzOlNTHP3JNkqLrfLanWPr3wnM0Z142UC9fLzErUhEElhIoD1wlwIKrHwl6iOVr+r0iAKqPPQXSU/VDt1HeoBfrMGxvA5Po7DcC5TQE2d64/ot+U2LsEl2EMeISbw8kiLMxe7rNbEB0KL33ldbdm7OP5arbs=
  file:
    - "build/gsuite-tool-*.dmg"
  on:
    tags: true
